<div>  <!--last updated date display-->
  <h6>Last Updated on <input type="date"></h6>
  </div>
<div class="main"> <!--Navigation bar-->

    <ul>
        
      <li class="bigtab">DM</li>
      <li class="smalltabs"><a href="/dmtimeline">Timeline</a></li>
      <li class="smalltabs"><a href="/dmsearch">Search</a></li>
   
    </ul>

  </div>
  <div class="background">
      <img src="assets/wallpaper.jpeg" width="100%" height="100%">  <!--Background image-->
    </div>
    <div>
    
<div class="search-box">  <!--search bar to search for required Skill Set-->
        <input type="text" name="" class="search-txt" placeholder="Type Resource name to search"/>
        <a class="search-btn" href="#"> 
        <i class="fas fa-search"></i>
        </a>
      </div>