<!--The content below is only a placeholder and can be replaced.-->


 
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/home">HOME</a>
    </li>
    <li class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="/login" aria-haspopup="true" aria-expanded="false">LOGIN</a>
      <div class="dropdown-menu">
        <a  class="dropdown-item" href="/dm">DM</a>
        <a class="dropdown-item"  href="/admin">ADMIN</a>
       </div>
    </li>
  </ul>
  <div class="logo">
      <img src="assets/logo.png" alt="rythmos" width="120" height="30">
    </div>
 
  <router-outlet></router-outlet>  
 
